.description {
  width: 320px;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
}

.description__title {
  .fs-lh(36; 60);
  margin-bottom: 45px;
}

.description__item {
  padding: 3px 0 3px 80px;
  margin-bottom: 35px;
  position: relative;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: @green;
    background-size: 50px auto;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:nth-child(1)::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &:nth-child(2)::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &:nth-child(3)::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &:nth-child(4)::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

.description__text {
  .fs-lh(14; 18);
}

.description__text br {
  display: none;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .description__item {
    &:nth-child(1)::before {
      background-image: url("../img/advantage-leaf@2x.png");
    }

    &:nth-child(2)::before {
      background-image: url("../img/advantage-powder@2x.png");
    }

    &:nth-child(3)::before {
      background-image: url("../img/advantage-dining@2x.png");
    }

    &:nth-child(4)::before {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

@media (min-width: @tablet-width) {
  .description {
    width: 768px;
    border-bottom: 1px @grey solid;
    padding: 30px;
  }

  .description__title {
    .fs-lh(60; 60);
    margin-bottom: 65px;
  }

  .description__list {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
  }

  .description__item {
    box-sizing: border-box;
    width: 245px;
    // height: 230px;
    padding: 120px 0 50px 0;
    // .grid-help();
    margin-right: 145px;
    margin-bottom: 90px;
    .item-numbers(9);

    &:nth-child(2n) {
      margin-right: 70px;
    }

    &::before {
      width: 80px;
      height: 80px;
    }
  }

  .description__text {
    .fs-lh(16; 24);
  }

  .description__text br {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .description {
    width: auto;
    border-bottom: none;
    padding: 0 0 0 110px;
  }

  .description__item {
    margin-right: 90px;
  }
}
